<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/css/login.css">
    <script type="text/javascript">
        // function test() {
        //     var test = new FormData(document.getElementById("test"));
        //     alert(test);
        // }
    </script>
</head>
<body>
    <div id="container" class="container">
        <div class="row" >
            <div class="col-md-4  col-md-offset-8" id="login" >
                <form class="form-horizontal" role="form" action="/login/"  id="test" method="post">
                    <br><br><br><br><br>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label for="label_input" class="form-inline">name:</label>
                                <input type="text" id="label_input" class="form-control" name="telephone" placeholder="请输入手机号码">

                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6">
                            <label for="input_label" class="form-inline">password:</label>
                                <input id="input_label" type="password" class="form-control"  name="password" placeholder="请输入密码">
                        </div>
                    </div>
                    <br>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" onclick="test()">登录</button>
                            <a type="submit" href="#"  role="button" class="btn btn-default">注册</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>